<div class="content landing">
	<%= render "exchanges/hbx_profiles/shared/primary_nav", :active_tab => "home-tab" %>
	
	<div class="home">
		<%= render 'shared/tab_panel' %>
	</div>
</div>
<script>
  <% if params[:tab] == "documents" %>
    $(function(){
      document.getElementById('documents').click();
    })
  <% end %>
</script>

